/*Navigation Bar*/
header{
  vertical-align: top;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
}
.logo {
  display: inline-block;
  width: 20%;
  padding:1%;
}
.nav{
  display: inline-block;
  width: 70%;
  padding: 1%;
  z-index: 1;
}
.nav ul li{
  display:inline;
  margin-left: auto;
  padding: 8px;
}
.nav ul{
  float: right;
}

  /*About Me*/
  .heroImg {
    height: 600px;
    padding: 25px;
  }
  .content {
    margin: 0 auto;
    width: 750px;
  }
  .right {
    float: right;
    padding-right: 15px;
  }

    /*Case Studies*/
.flexContainer {
  display: flex;
  width: 100%;
  background-color:transparent;
  margin: 0;
  padding: 0;
}
.flex_item {
  background-color: transparent;
  flex-direction: column;
  margin: 0;
  padding: 10x;
  width: 300px;
  height: auto;
  text-align: center;
}
.justifyContent {
  justify-content: center;
}
.flexContainer img { 
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  padding: 4px;
}
figcaption {
    padding: 0.5em;
    position: relative;
    left: 0;
    text-align: center;
}
.CaseStudies{
  background-color:whitesmoke;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  padding-top: 30px;
}

    /*Skills&Tools Container*/
.SkillsExperience {
  background-color:whitesmoke;
  margin: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}
    /*Tools*/
.gridContainer {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  grid-gap: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  grid-template-areas: 
  "AI XD PS"
  "Figma VS IV";
}
.grid-item img{
  width: 100px;
  height: 100px;
}
.myTools {
  background-color:whitesmoke;
  padding: 0px;
  margin: 5px;
}
    /*Skills*/
.gridContainer1{
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  align-content: center;
  grid-template-columns: 600px;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas:
  "research"
  "testing"
  "visual";
}
.grid-item1 {
  margin: 10px;
  background-color: transparent;
  padding: 10px;
}
.Skills {
  background-color:whitesmoke;
  width: inherit;
  height: inherit;
  padding: 0px;
  margin: 5px;
}
    /*Footer*/
  footer {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
  background-color:#C4C4C4;
  text-align: center;
  }
  footer ul li{
    display: inline-block;
    padding: 16px;
  }
  #backtop a{
    font-family: Open sans, regular;
    font-size: 16px;
    color: aliceblue;
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
    /*Web Style*/
  h1 {
    font-family: Cormorant, Bold;
    font-size: 60px;
    color:#A49393;
  }
  h3 {
    font-family: Open Sans;

  }
  p {
    font-family: Open Sans, regular;
    font-size: 18px;
  }
  a {
    font-family: Open Sans, regular;
    color: gray;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  button {
    font-family: Open Sans, Regular;
    font-size: 15px;
    background-color: lightblue;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    border: none;
    padding: 8px;
  } 
  button:hover {
    background-color: rgb(35, 161, 161);
  } 
  
  section {
    padding: 0;
    margin: 0;
  }
  body{
    height: 100vh;
    line-height: 1.6;
}

/*Media Query*/
@media only screen and (max-width:600){
  .flex-container {
    flex-direction: column;
  }}
@media only screen and (max-width:600){
  }
  .gridContainer .gridContainer1 {
    align-self: center;
    justify-self: center;
    grid-template-rows: 100 100 100 100 100 100;
    grid-template-columns: 1fr ;
    grid-template-areas: 
    "AI"
    "XD"
    "PS"
    "Figma"
    "VS"
    "IV";
  }
  /*Preloader*/
  .preloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    background-color: white;
    top: 0;
    display: flex;
    align-items: center;
  }
  .preloader img{
    animation: spin 3s ease;
    width: 150px;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }