/*Navigation Bar*/
header{
  vertical-align: top;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
}
.logo {
  display: inline-block;
  width: 20%;
  padding:1%;
}
.nav{
  display: inline-block;
  width: 70%;
  padding: 1%;
  z-index: 1;
}
.nav ul li{
  display:inline;
  margin-left: auto;
  padding: 8px;
}
.nav ul{
  float: right;
}

  /*About Me*/
  .heroImg {
    height: 600px;
    padding: 25px;
  }
  .content {
    margin: 0 auto;
    width: 750px;
  }
  .right {
    float: right;
    padding-right: 15px;
  }

    /*Case Studies*/
.flexContainer {
  display: flex;
  width: 100%;
  background-color:transparent;
  margin: 0;
  padding: 0;
}
.flex_item {
  background-color: transparent;
  flex-direction: column;
  margin: 0;
  padding: 10x;
  width: 300px;
  height: auto;
  text-align: center;
}
.justifyContent {
  justify-content: center;
}
.flexContainer img { 
  position: relative;
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  padding:  0px 20px 0;
}
figcaption {
    padding: 0.5em;
    position: static;
    left: 0;
    text-align: center;
}
.CaseStudies{
  background-color:whitesmoke;
  padding-bottom: 20px;
  padding-top: 5px;
  align-content: center;
}

    /*Skills&Tools Container*/
.SkillsExperience {
  background-color:whitesmoke;
  margin: 10px;
  padding: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
  align-content: center;
}
    /*Skills*/
.gridContainer1{
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  align-content: center;
  grid-template-columns: 600px;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "research"
  "testing"
  "visual";
}
.grid-item1 {
  margin: 0;
  background-color: transparent;
  padding: 0px;
}
.Skills {
  background-color:whitesmoke;
  width: inherit;
  height: inherit;
  padding: 0px;
  margin: 5px;
}
    /*Tools*/
    .gridContainer {
      display: grid;
      align-content: center;
      justify-content: center;
      width: 100%;
      background-color: transparent;
      grid-gap: 10px;
      grid-template-rows: auto auto;
      grid-template-columns: auto auto auto;
      grid-template-areas: 
      "AI XD PS"
      "Figma VS IV";
    }
    .grid-item img{
      width: 100px;
      height: 100px;
    }
    .myTools {
      background-color:whitesmoke;
      padding: 0px;
      margin: 0px;
    }


    /*Footer*/
  footer {
    bottom: 0;
    width: 100%;
    padding: 50px auto 75px;
    background-color: #575858;
    text-decoration-color: #eed6d3;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  #backtop {  
    padding: 10px 25px 0; 
    float: right;
  }
  footer ul li {
    display: inline-block;
    align-content: space-between;
    padding: 30px;
  } 
  #spill {
    color: #eed6d3;
  }
  #getintouch{
    text-align: center;
  }


    /*Web Style*/
  h1 {
    font-family: Cormorant, Bold;
    font-size: 60px;
    color:#A49393;
  }
  h3 {
    font-family: Open Sans;

  }
  p {
    font-family: Open Sans, regular;
    font-size: 18px;
  }
  a {
    font-family: Open Sans, regular;
    color: gray;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  button {
    font-family: Open Sans, Regular;
    font-size: 15px;
    background-color: lightblue;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    border: none;
    padding: 8px;
  } 
  button:hover {
    background-color: rgb(35, 161, 161);
  } 

  body{
    height: 100vh;
    line-height: 1.6;
}
/*CSS Scroll Smooth*/
html {
  scroll-behavior: smooth;
}

/*Media Query*/
@media only screen and (max-width:600){
  .flex-container {
    flex-direction: column;
  }}
@media only screen and (max-width:600){
  }
  .gridContainer .gridContainer1 {
    align-content: center;
    grid-template-rows: 100 100 100 100 100 100;
    grid-template-columns: 1fr ;
    grid-template-areas: 
    "AI"
    "XD"
    "PS"
    "Figma"
    "VS"
    "IV";
  }
  /*Preloader*/
  .preloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    background-color: white;
    top: 0;
    display: flex;
    align-items: center;
  }
  .preloader img{
    animation: spin 3s ease;
    transition: all;
    width: 150px;
    margin: 0 auto;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }